/**
 * Set opacity and visibility properties in one time.
 *
 * @param $value 0|1
 */
@mixin autoAlpha( $value ) {
  @if $value == 0 {
      opacity: 0;
      visibility: hidden;
  } @else if $value == 1 {
      opacity: 1;
      visibility: visible;
  }
}